<h1>Listing posts</h1>

 <%= render :partial => @posts %>
   <% @posts.each do |post| %>
        <%= link_to 'Show', post_path(post) %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<%= link_to 'New Post', new_post_path %>

