  <%= link_to 'Back', posts_path %>
 <p id="notice"><%= notice %></p>
 
 <%= render @post %>


 <h2>Comments</h2>
 <div id="comments">
         <%= render @post.comments.reverse %>
 </div>
 <%= render 'comments/form' %>
